<div id="simulateSelectGameCategory" class="styleSimulateSelect" onclick="showDropdown(this)">
	<p id="selectedCategories">Select Categories</p>
</div>

<div id="simulateOptionDropdown" class="styleDropdown" data-value="1">
	<div class="simulateOption">
		<button id="searchGames" onclick="alertMe(this)"></button>
		<div class="checkbox first-checkbox">
		    <input type="checkbox" id="checkbox_1" onclick="selectAll(this)">
		    <label class="checkboxLabels" for="checkbox_1">Select All</label>
		</div>
	</div>
	<div id="divider"></div>
	<div class="simulateCheckbox">
		<div class="checkbox">
		    <input class="checkboxInput" type="checkbox" id="checkbox_2" value="Slot">
		    <label class="checkboxLabels checkboxLabels-no-padd" for="checkbox_2">Slot</label>
		</div>
	</div>
	<div class="simulateCheckbox">
		<div class="checkbox">
		    <input class="checkboxInput" type="checkbox" id="checkbox_3" value="Roulette">
		    <label class="checkboxLabels checkboxLabels-no-padd" for="checkbox_3">Roulette</label>
		</div>
	</div>
	<div class="simulateCheckbox">
		<div class="checkbox">
		    <input class="checkboxInput" type="checkbox" id="checkbox_4" value="Live European Roulette">
		    <label class="checkboxLabels checkboxLabels-no-padd" for="checkbox_4">Live Europe...</label>
		</div>
	</div>
	<div class="simulateCheckbox">
		<div class="checkbox">
		    <input class="checkboxInput" type="checkbox" id="checkbox_5" value="Triple Crown">
		    <label class="checkboxLabels checkboxLabels-no-padd" for="checkbox_5">Triple Crown...</label>
		</div>
	</div>
	<div class="simulateCheckbox">
		<div class="checkbox">
		    <input class="checkboxInput" type="checkbox" id="checkbox_6" value="Jolly Poker">
		    <label class="checkboxLabels checkboxLabels-no-padd" for="checkbox_6">Poker</label>
		</div>
	</div>
	
</div>
